// Place all the styles related to the exercices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, #user, #panel {
  margin:0;
  padding:0;
  width: 100%;
  height:100%;
  position:relative; 
}
 .ui-selectmenu-button, .exercice {
  display: none;
}
/* Planche en carton "panel contient panel_top et panel_bottom parfois ils sont rotate !*/
#panel {
  position:absolute;
  background: no-repeat center url('images/planche_carton.jpg');
  background-size: 100%;   
}
#panel_top, #panel_bottom { 
  width:100%;
  height : 50%;  
}
#panel.rotate {
  position:absolute;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background: no-repeat center url('images/planche_carton_portrait.jpg');
  background-size: 100%;
} 
#panel_top.rotate, #panel_bottom.rotate {
  position: absolute;
  width : 49% !important;
  height : 100%;

} 
#panel_bottom.rotate {
  left:50%;
} 
.panel-hover {
  background: none;
  border:none;
}  
.panel-active {
  background: rgba(0,0,0,0.0);
  box-shadow: none;
} 
/* Menu de gauche - A revoir */
#user_menu {
  position: fixed;
  background: rgba(0,0,0, 0.25);
  width:10%;
  height: 100%;
}
#select_opener {
  background : no-repeat center url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/menu-24-128.png");
  background-size: 100%;
}
#menu_parametres {
  background : no-repeat center url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/settings-24-128.png");
  background-size: 100%;
}
#trash {
  background : no-repeat center url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/cross-24-128.png");
  background-size: 100%;
}
#check {
  background : no-repeat center url("https://cdn2.iconfinder.com/data/icons/flat-ui-icons-24-px/24/checkround-24-128.png");
  background-size: 100%;
}

.menu_item, .icon {
  position: relative;
  display: block;
  height: 25%;
  width: 100%;
} 

.trash-active {
  box-shadow: inset 0 0 1em #FF0000;
}
.trash-hover {
  box-shadow: inset 0 0 3em #FF0000;
}

/* Énoncé dialog jquery */
#enonce {
  font-family: Ubuntu, sans-serif; 
  font-size : 25px;
  margin: 0.1em;
}

.ui-dialog-titlebar{
  background: #FCB08B;
  color: #622900;
  font-size: 0.25em;
}
.ui-dialog .ui-dialog-content {
  padding: 0px;
}

/* items $, # et @ */
.element, .piege {
  display: inline-block;
}
.element {
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5;
  border: 0.05em solid black; 
  background: white;
  border-radius: 0.2em; 
  z-index: 10000;
  
  font-family: Ubuntu, sans-serif; 
  font-weight:bold;
  text-align: center; 
  color: black;
  }

.jeton {
  border-radius: 100%;
  background : black;
}
.euro{
  border-radius: 100%;
  background : no-repeat center url("images/euro.png");
  background-size: 100%;
  color: rgba(0,0,0,0.5);
}
.billet {
  width: 3em;
  height: 1.5em;
  padding-left: 0.25em;
  line-height: 1.5em;
  border-radius: none;
  background : no-repeat center url("images/billet.jpg");
  background-size: 100%;
  color: rgba(0,0,0,0.5);
  text-align: left;
  font-family: "Courier New", Courier, monospace; 

}

.livre {
  width: 1.5em;
  height: 1.5em;
  padding: 0.2em;
  border: none;
  border-radius: 100%;
  background : white no-repeat center url("https://cdn3.iconfinder.com/data/icons/minecraft-icons/128/Book.png");
  background-size: 100%;
  color: rgba(0,0,0,0.5);
  box-shadow: 0em 0.2em 0.2em 0em black;
  
}
.stylo {
  width: 1em;
  height: 1em;
  padding: 0.2em;
  border: none;
  border-radius: 100%;
  background :white no-repeat center url("https://cdn2.iconfinder.com/data/icons/scrap/Pen.png");
  background-size: 50%;
  color: rgba(0,0,0,0.5);
  box-shadow: 0em 0.2em 0.2em 0em black;
  
}
.dropped {
  position: absolute;
  -moz-transform: scale(2);
  -ms-transform: scale(2);
  -o-transform: scale(2);
  -webkit-transform: scale(2);
  transform: scale(2);  
  text-shadow: -0.05em -0.05em 0px rgba(255,255,255,0.5);  
}

.remove{
  background: rgba(255, 0, 0, 0.5);
  width: 2em;
  height: 2em;
  
}

.piege.aide {
  box-shadow: 0em 0.2em 0.2em 0em red;
}
.droite.aide {
  box-shadow: 0em 0.2em 0.2em 0em white;
}  
.gauche.aide {
  box-shadow: 0em 0.2em 0.2em 0em black;
}  